<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/e1c4b252ce.js" crossorigin="anonymous"></script>


 
</head>
<body>
    <header class="custom-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm ">
            <div class="container-fluid">

                <img src="~/EcoTaste_Logo.png" alt="Logo" class="logo_image">
                <a class="navbar-brand ecotaste_title" asp-area="" asp-controller="Student" asp-action="Packets">EcoTaste</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-right">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <div class="header-icons d-flex">
                            <a href="/Account/Account" class="header-icon-link">
                                <i class="fas fa-user mx-2" title="Account"></i>
                                <span class="sr-only">Account</span>
                            </a>
                            <a href="/Student/Packets" class="header-icon-link">
                                <i class="fas fa-boxes-stacked mx-2" title="Alle Pakketten"></i>
                                <span class="sr-only">Alle Pakketten</span>
                            </a>
                            <a href="/Student/Reservations" class="header-icon-link">
                                <i class="fas fa-calendar mx-2" title="Reservaties"></i>
                                <span class="sr-only">Reservaties</span>
                            </a>
                            <a>
                                <i class="fas fa-cog mx-2" title="Instellingen"></i>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footertext">
            &copy; 2023 - EcoTaste - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
