@{
	Layout = "_LayoutEmployee";
}

@model Domain.Models.Packet

<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create Packet</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		.container {
			padding: 10px;
			margin-top: 10px;
			margin-bottom: 60px;
			border-radius: 15px;
			border: 4px solid #48a37c;
			background-color: #a8dcc4;
		}


		.product-item {
			display: inline-block;
			margin-right: 20px;
		}

			.product-item img {
				width: 100px;
				height: 100px;
				object-fit: contain;
			}


		.ProductLabel {
			margin-right: 20px;
		}



		.form-check-input {
			margin-left: 10px;
		}

		.modal-header {
			background-color: #62d2a2 !important;
		}



		.modal-content {
			border: 2px solid #48a37c !important;
		}

		.title {
			font-weight: 600;
		}

		.form-group {
			margin-top: 10px;
		}

	</style>
</head>

<body>
	<div class="container">

		<h1 class="title">Pakket Samenstellen</h1>

		<form id="myform" method="post" action="/Employee/CreatePacket">
			<div asp-validation-summary="All" class="text-danger"></div>
		

			<div class="form-group">
				<div class="row">
					<div class="col-md-9">
						<label asp-for="Name">Naam:</label>
						<input asp-for="Name" type="text" class="form-control" id="Name" name="name">
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="col-md-3">
						<label for="Price">Prijs:</label>
						<input type="text" step="0.01" min="0.01" class="form-control" id="Price" name="price">
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<label asp-for="Type">Type pakket:</label>
						<select asp-for="Type" class="form-control" id="Type" name="Type">
							<option value="Unknown">Kies een waarde:</option>
							<option value="Broodpakket">Broodpakket</option>
							<option value="Drankpakket">Drankpakket</option>
							@if ((bool)ViewData["WarmMeals"]) {
								<option value="WarmeMaaltijd">Warme Maaltijd</option>
							}
						</select>
					
					</div>

					<div class="col-md-6">
						<label asp-for="DateTime">Ophaaltijd:</label>
						<input asp-for="DateTime" type="datetime-local" class="form-control" id="DateTime" name="pickupTime" id="pickupTime">
						<span asp-validation-for="DateTime" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="ImageUrl">Afbeelding URL:</label>
					<input asp-for="ImageUrl" type="url" class="form-control" id="ImageUrl" name="imageUrl">
					<span asp-validation-for="ImageUrl" class="text-danger"></span>
				</div>

				<button type="button" class="btn btn-success" id="addProduct">Product Toevoegen</button>

				<div class="form-group" id="productslist">
	
				</div>


			
				<input type="hidden" name="products" id="products">
				<div class="below_buttons">
					<button type="submit" class="btn btn-primary" id="submitButton">Sla Op</button>
					<button type="button" class="btn btn-danger" id="cancelButton">Annuleren</button>
				</div>

		</form>
	</div>

	<!-- Product Form Modal -->
	<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="productModalLabel">Product Toevoegen</h5>

				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="ProductName">Product Naam:</label>
						<input type="text" class="form-control" id="ProductName" name="ProductName">

					</div>
					<div class="form-group">
						<label for="ProductAlcohol" class="form-check-label">Alcohol:</label>
						<input type="checkbox" class="form-check-input" id="ProductAlcohol" name="ProductAlcohol">
					</div>
					<div class="form-group">
						<label for="ProductImageUrl">Product Afbeelding URL:</label>
						<input type="url" class="form-control" id="ProductImageUrl" name="ProductImageUrl">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="closeProduct">Annuleren</button>
					<button type="button" class="btn btn-primary" id="saveProduct">Product Toevoegen</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script>
		//MOVE TO wwwroot js
		var productsData = [];

		//Click add product to show product modal
		$("#addProduct").click(function () {
			$("#productModal").modal("show");
		});



		//Click close to close product modal
		$("#closeProduct").click(function () {
			$("#ProductName").val("");
			$("#ProductAlcohol").prop("checked", false);
			$("#ProductImageUrl").val("");

			$("#productModal").modal("hide");
		});

		//Click cancel to go back to previous page
		document.getElementById("cancelButton").addEventListener("click", function () {
			window.history.back();
		});


		//Click save product to save product
		$("#saveProduct").click(function () {
			var productName = $("#ProductName").val();
			var productAlcohol = $("#ProductAlcohol").prop("checked");
			var productImageUrl = $("#ProductImageUrl").val();

			var product = {
				Name: productName,
				Alcohol: productAlcohol,
				ImageUrl: productImageUrl
			};

			productsData.push(product);


			$("#ProductName").val("");
			$("#ProductAlcohol").prop("checked", false);
			$("#ProductImageUrl").val("");

			//Close modal
			$("#productModal").modal("hide");
		});


		function updateProductList() {
			console.log("test", "update product testing log");
			var productListElement = $("#productslist");


			let hidden_input = document.querySelector("[name = 'products']")
			hidden_input.value = JSON.stringify(productsData)

			console.log("hidden", hidden_input.value);
			console.log("proddata", productsData);
			productListElement.html('');

			for (var i = 0; i < productsData.length; i++) {
				var product = productsData[i];

				//Delete button for products
				var deleteButton = $("<div><button class='btn btn-danger btn-sm delete-product'>Verwijderen</button></div>");
				deleteButton.data("index", i);

				var productItem = $("<div class='product-item'></div>");
				var productName = $("<div class='ProductLabel' >" + product.Name + "</div>");
				var productAlcohol = $("<div class='ProductLabel'>" + (product.Alcohol ? "Bevat alcohol" : "") + "</div>");
				var productImage = $("<img src='" + product.ImageUrl + "' alt='Product Image'>");


				deleteButton.click(function () {
					var index = $(this).data("index");
					productsData.splice(index, 1);
					updateProductList();
				});

				productItem.append(productName, productAlcohol, productImage, deleteButton);
				productListElement.append(productItem);
			}
		}

		$("#saveProduct").click(function () {
			updateProductList();
		});
	</script>
</body>
</html>
