@{
    Layout = "_Layout";
    ViewData["Title"] = "Access Denied";
}



<p>Sorry, access denied. Click <a href="#" id="goBackLink">here</a> to go back</p>

<script>
    document.getElementById("goBackLink").addEventListener("click", function (event) {
        event.preventDefault(); 
        history.back(); 
    });
</script>
