@{
    Layout = "_Layout";
}



<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
     <style>
     

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }

        .left {
            flex: 1;
            z-index: 1;
            padding: 0px;
        }

        .homepageImage{
            max-width: 40%;
            height: auto;
            position:absolute;
            bottom: 5px;
            left: 90px;
        } 
 
        .right {
            flex: 1;
            padding: 20px;
            z-index:2;
        }

   
      

        .login-form {
            background-color: #f2f2f2;
            padding: 15px;
            border: 2px solid #48a37c;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                font-weight: bold;
            }

            .form-group input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

   

        .btn-create-account {
            color: #007bff;
            text-decoration: underline !important;
           
        } 

        .title {
            font-weight:600;
        }
    </style> 
</head>
<body>

    <div class="container">
        <div class="left">
            <img class="homepageImage" src="~/homepage_image_nobg.png" alt="Image">
        </div>
        <div class="right">
            <div class="login-form">
                <h2 class="title">Login</h2>
                <hr />
                <form method="post" action="@Url.Action("login", "Account")">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Wachtwoord:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>

                <P></P>
                <hr />

                <p>Heb je geen account? <a href="#" class="btn-create-account" tabindex="-1">Maak een account aan!</a></p>
            </div>
        </div>
    </div>
</body>
</html>
